# created by virtualenv automatically
venv/
.venv/
.venv/bin/

# trainer logs produced by huggingface trainer
backend/scripts/test_trainer

# fine-tuned model for production
backend/app/models/binary_bias_bert/

# dataset for fine-tuning
mbic_dataset.xlsx

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# private keys
.env

# frontend installation & build
frontend/dist
frontend/node_modules/
frontend/package-lock.json

# frontend logs
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*
